{% extends 'base.html' %}

{% block body_class %}defpage_body{% endblock %}
{% block head_class %}defpage_head{% endblock %}

{% block content %}

<div class="prindex-container">

	<div class="projects">

		{% for project in projects %}
		<div class="project">
			
			<div class="thumbnail">
				<a href="{% url 'projects:detail' project.pk %}"><img src="{{ project.screenshot.url }}"></a>
			</div>

			<div class="content">
				<h2 class="title">{{ project.title }}</h2>
				<p class="description">{{ project.description|truncatewords:50 }}</p>
				<p class="tech">{{ project.technology }}</p>
				<p>Created on <span>{{ project.created_on.date }}</span></p>
				<a class="read-more" href="{% url 'projects:detail' project.pk %}">Read More</a>
			</div>

		</div>
		{% endfor %}

	</div>

</div>

{% endblock %}