{% extends 'base.html' %}

{% block body_class %}defpage_body{% endblock %}
{% block head_class %}defpage_head{% endblock %}

{% block content %}

<div class="contact-container">
	
	<h1>Contact page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h2>Form Groups</h2>
	<form>
		<div class="form-group">
			<label>Name:</label>
			<input type="text" name="fname">
		</div>
		<div class="form-group">
			<label>Email:</label>
			<input type="email" name="mail">
		</div>
		<div class="form-group">
			<label>Number:</label>
			<input type="number" name="num">
		</div>
		<div class="form-group">
			<label>Password:</label>
			<input type="password" name="pw">
		</div>
		<div class="form-group">
			<label>Subject:</label>
			<input type="text" name="subject">
		</div>
		<div class="form-group">
			<label>Message:</label>
			<textarea></textarea>
		</div>
		<input class="btn-primary" type="submit" name="" value="Submit">
	</form>

</div>

{% endblock %}