@use 'base';

/* -------- site header -------- */

.site-header 	{
	//background: base.$dark_blue;
	background: rgba(1, 22, 39, 0.7);
	color: base.$white;
	padding: 1rem;
	//margin-bottom: 5rem;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 500;
}

#fp-hero	{
	position: relative;
	//border: 2px solid blue;
	height: 80vh;
	width: 100%;
	background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.9)
		);
	//filter: blur(2px);
	display: grid;
	place-items: center;
	color: base.$white;

	&:before 	{
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url('../images/cover4.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		//background-attachment: fixed;
		z-index: -10;
	}

	.fp-hero-wrapper	{
		width: 90%;
		margin: 0 auto;
		display: grid;
		place-items: center;

		h2	{
			font-size: 220%;
			font-family: base.$serif3;
			text-transform: uppercase;
		}

		h4	{
			text-align: center;
			color: #d8d8d8;
		}

		.hero-cta 	{
			border: 2px solid base.$white;
			background: transparent;
			color: base.$white;
			box-shadow: none;
			font-size: 130%;

			&:hover	{
				background: rgba(255, 255, 255, 0.7);
				color: base.$black;
			}
		}

		#scrollDown	{
			position: absolute;
			bottom: 2rem;
			display: block;
			left: 50%;
			color: base.$white;
			font-size: 150%;
			//transform: translateX(50%);
			transition: .4s transform;

			&:hover	{
				transform: scale(1.05);
			}
		}
	}
}

.bio-section	{
	width: 90%;
	margin: 10rem auto;
	//height: 50vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	place-items: center;

	.bio-text	{
		//text-align: center;

		p 	{
			text-align: left;
		}
	}

	.bio-thumb 	{
		img 	{
			box-shadow: 4px 4px 25px 0 #d9d9d9;
		}
	}
}

.services-section 	{
	width: 90%;
	margin: 0 auto;

	.services 	{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
		place-items: center;
		grid-gap: 5rem;
		text-align: center;

		.service 	{
			display: grid;
			place-items: center;
			box-shadow: 10px 10px 20px 0 #d9d9d9;
			padding: 2rem;

			i 	{
				font-size: 200%;
				background-color: base.$dark_blue;
				color: base.$white;
				width: 10rem;
				height: 10rem;
				display: grid;
				place-items: center;
				//padding: 2rem;
				border-radius: 50%;
				border: 2px solid transparent;
				transition: .3s all ease-out;

				&:hover 	{
					background-color: base.$white;
					border: 2px solid base.$dark_blue;
					color: base.$dark_blue;
					font-size: 250%;
				}
			}
		}


	}
}

.portfolio-section	{
	width: 90%;
	margin: 10rem auto;
	//height: 100vh;

	.gallery	{
		margin: 10rem auto;
		display: flex;
		flex-wrap: wrap;

		img 	{
			width: 25rem;
			filter: grayscale(80%);
			transition: .3s all ease-out;

			&:hover	{
				cursor: pointer;
				filter: grayscale(0);
			}
		}
	}
}

/* -------- fp testimonials -------- */

.testimonials-section 	{
	//border: 2px solid red;
	margin: 10rem auto;

	h2	{
		text-transform: capitalize;
		margin: 2rem;
	}
}

.testimonials 	{
	//border: 2px solid red;
	width: 100%;
	margin: 5rem auto;
	padding: 5rem 0;
	background-color: base.$dark_blue;
	color: base.$white;

	.testimonial 	{
		//border: 1px solid red;
		text-align: center;
		width: 60%;
		margin: 0 auto;

		p 	{
			font-style: oblique;

			&:before,
			&:after	{
				content: "''";
			font-size: 3rem;
			}
		}
	}

	.slick-dots 	{
		list-style-type: none;

		li 	{
			display: inline-block;
		}
		button 	{
			border: none;
			border-radius: 5px;
			background-color: base.$white;
			color: base.$black;
			font-size: 100%;
			display: grid;
			place-items: center;
			width: 5rem;
			height: 5rem;
			margin: 2rem;
			//padding: 2rem;
			cursor: pointer;
			transition: .3s all ease-out;

			&:hover	{
				box-shadow: 2px 2px 15px 0 #d7d7d7;
			}
		}
	}
}

#demo2	{
	width: 100%;
	border: 2px solid red;
	
}

/* -------- site footer -------- */

.site-footer 	{
	margin: 10rem 0 0 0;

	.footer-credits	{
		//background: #151B25;
		background: base.$dark_blue;
		color: base.$white;
		padding: 1rem;
		margin-top: 2rem;
	}
}

.footer-widgets	{
	//border: 1px dotted red;
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
	// place-items: center;
	// grid-gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.widget 	{
		//box-shadow: 1px 1px 15px 0 #888;
		padding: 1rem;
		width: 40rem;
		min-width: 30rem;
		margin: 1rem;

		h2	{
			text-align: center;
		}

		&:nth-child(2)	{
			border: 1px dotted #999;

			ul 	{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			a 	{
				text-decoration: none;
				transition: .3s all ease-out;
				animation: shake .5s 1;
				animation-play-state: paused;

				&:hover	{
					animation-play-state: running;
				}
			}
		}
	}
}



// footer socials
.footer-socials	{
	//border: 1px solid blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	div 	{
		width: 5rem;
		height: 5rem;
		display: grid;
		place-items: center;
		margin: 1rem;
		background: base.$dark_purple;
		color: base.$white;
		transition: .5s all ease-out;

		&:hover 	{
			border: 2px solid base.$dark_purple;
			background: base.$white;
			color: base.$dark_purple;
			box-shadow: 1px 1px 15px 0 #d7d7d7;
			cursor: pointer;
		}

		i 	{
			font-size: 150%;
			
		}
	}
}
